In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("nba.csv")

İlk 10 kaydı getiriniz.

In [3]:
df.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

Toplam kayıt sayısını bulunuz.

In [4]:
len(df.index)

458

Oyuncuların maaş ortalamasını bulunuz.

In [5]:
df["Salary"].mean()

np.float64(4842684.105381166)

En yüksek maaşı ve alan kişiyi bulunuz.

In [6]:
df[df["Salary"] == df["Salary"].max()] ["Name"]

109    Kobe Bryant
Name: Name, dtype: object

Yaşı 20-25 arasında olan oyuncuların isim ve takımlarını bulunuz.

In [7]:
df[(df["Age"] <= 25) & (df["Age"] >= 20)] [["Name", "Team", "Age"]]

               Name            Team   Age
0     Avery Bradley  Boston Celtics  25.0
1       Jae Crowder  Boston Celtics  25.0
3       R.J. Hunter  Boston Celtics  22.0
6     Jordan Mickey  Boston Celtics  21.0
7      Kelly Olynyk  Boston Celtics  25.0
..              ...             ...   ...
446  Derrick Favors       Utah Jazz  24.0
447     Rudy Gobert       Utah Jazz  23.0
449     Rodney Hood       Utah Jazz  23.0
452      Trey Lyles       Utah Jazz  20.0
454       Raul Neto       Utah Jazz  24.0

[197 rows x 3 columns]

John Holland isimli oyuncunun oynadığı takımı bulunuz.

In [8]:
df[df["Name"] == "John Holland"] ["Team"]

2    Boston Celtics
Name: Team, dtype: object

Takımlara göre oyuncuların ortalama maaşlarını bulunuz.

In [9]:
df.groupby("Team")["Salary"].mean()

Team
Atlanta Hawks             4.860197e+06
Boston Celtics            4.181505e+06
Brooklyn Nets             3.501898e+06
Charlotte Hornets         5.222728e+06
Chicago Bulls             5.785559e+06
Cleveland Cavaliers       7.642049e+06
Dallas Mavericks          4.746582e+06
Denver Nuggets            4.294424e+06
Detroit Pistons           4.477884e+06
Golden State Warriors     5.924600e+06
Houston Rockets           5.018868e+06
Indiana Pacers            4.450122e+06
Los Angeles Clippers      6.323643e+06
Los Angeles Lakers        4.784695e+06
Memphis Grizzlies         5.467920e+06
Miami Heat                6.347359e+06
Milwaukee Bucks           4.350220e+06
Minnesota Timberwolves    4.593054e+06
New Orleans Pelicans      4.355304e+06
New York Knicks           4.581494e+06
Oklahoma City Thunder     6.251020e+06
Orlando Magic             4.297248e+06
Philadelphia 76ers        2.213778e+06
Phoenix Suns              4.229676e+06
Portland Trail Blazers    3.220121e+06
Sacramento Kings          4.778911e+06
San Antonio Spurs         5.629516e+06
Toronto Raptors           4.741174e+06
Utah Jazz                 4.204006e+06
Washington Wizards        5.088576e+06
Name: Salary, dtype: float64

Kaç farklı takım olduğunu bulunuz.

In [10]:
len(df.groupby("Team"))

30

Her takımda kaç oyuncu olduğunu bulunuz.

In [11]:
df["Team"].value_counts()

Team
New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Brooklyn Nets             15
Boston Celtics            15
Los Angeles Clippers      15
Los Angeles Lakers        15
Phoenix Suns              15
Sacramento Kings          15
Chicago Bulls             15
Philadelphia 76ers        15
Toronto Raptors           15
Golden State Warriors     15
Indiana Pacers            15
Detroit Pistons           15
Cleveland Cavaliers       15
Dallas Mavericks          15
Houston Rockets           15
San Antonio Spurs         15
Atlanta Hawks             15
Charlotte Hornets         15
Miami Heat                15
Washington Wizards        15
Denver Nuggets            15
Oklahoma City Thunder     15
Utah Jazz                 15
Portland Trail Blazers    15
Orlando Magic             14
Minnesota Timberwolves    14
Name: count, dtype: int64